<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/table.css">

<div class="container">
    <div class="header">
        <h1>100 songs for you</h1>
        <p>You can sort here or filtering here as you want</p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
            Filter
        </button>

        <div class="collapse" id="collapseFilters">
            <div class="card card-body">
                <div class="filters">
                    <h5>Sort Order</h5>
                    <form id="sortForm" action="/popular_song" method="POST">
                        <div>
                            <label><h6>Sort by Year:</h6></label>
                            <div class="radio-group">
                                <label><input type="radio" name="sort" value="year-desc" onchange="this.form.submit()"> Year (มากไปน้อย)</label>
                                <label><input type="radio" name="sort" value="year-asc" onchange="this.form.submit()"> Year (น้อยไปมาก)</label>
                            </div>
                        </div>
                        <div>
                            <label><h6>Sort by Duration:</h6></label>
                            <div class="radio-group">
                                <label><input type="radio" name="sort" value="duration-desc" onchange="this.form.submit()"> Duration (มากไปน้อย)</label>
                                <label><input type="radio" name="sort" value="duration-asc" onchange="this.form.submit()"> Duration (น้อยไปมาก)</label>
                            </div>
                        </div>
                    </form>
        
                    <h5>Year</h5>
                    <form id="yearFilterForm" action="/popular_song" method="POST">
                        <select name="year" id="currentyear" class="btn_filter" onchange="this.form.submit()">
                            <option value="all" selected>All</option>
                            <% yearData.forEach(function(year) { %>
                                <option value="<%= year.year %>"><%= year.year %></option>
                            <% }); %>
                        </select>
                        <input type="hidden" name="sort" value="duration-desc"> <!-- กำหนดให้เรียงลำดับตาม duration -->
                    </form>
                    
                </div>
            </div>
        </div>
    <!-- </div> -->
            
                   
      

    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Artist Name</th>
                    <th scope="col">Track ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Year</th>
                </tr>
            </thead>
            <tbody id="songsTableBody">
                <% let count = 1 %>
                <% songData.forEach(function(item) { %>
                    <tr>
                        <th scope="row"><%= count %></th>
                        <td><%= item.artist_name %></td>
                        <td><%= item.track_id %></td>
                        <td><%= item.title %></td>
                        <td><%= item.duration %></td>
                        <td><%= item.year %></td>
                    </tr>
                    <% count++; %> <!-- Increment count here -->
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

